/* Body starts here */

body {
    background-color: rgba(207, 197, 28, 0.41);
    font-family: Georgia, serif;
    color: rgba(68, 68, 68, 0.91);
}

button {
    padding: 10px 20px;
    background-color: rgba(207, 197, 28, 0.21);
    color: grey;
    border: 1px solid grey;
    border-radius: 5px;
}

button:hover {
    background-color: rgba(207, 197, 28, 0.91);
}

/* Header starts here */

header {
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(207, 197, 28, 0.41);
}

.link-wrapper {
    text-align: center;
}

.link-wrapper a {
    text-decoration: none;
    color: grey;
    display: block;
    margin-bottom: 20px;
    font-size: 2em;
}

/* Main section starts here */

#main-photo {
    background-image: url(../images/kriste.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 150px;
}

main {
    min-height: calc(100vh - 140px);
}

#container {
    margin: 20px auto;
}

.service {
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid grey;
    height: 410px;
}

.service h3 {
    margin: 10px 0;
}

.foto-one {
    background-image: url("../images/eva.jpg");
}

.foto-two {
    background-image: url("../images/leo.jpg");
}

.foto-three {
    background-image: url("../images/simma.jpg");
}

.foto-one,
.foto-two,
.foto-three {
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 40%;
}

.service-text {
    margin: 0 5px;
}

#map {
    height: 300px;
}

.block {
    padding: 15px 0;
    margin-bottom: 15px;
}

.block p a {
    text-decoration: none;
    font-weight: bold;
}

.block p a:hover {
    border-bottom: 2px solid grey;
}

/* Form starts here */

form .field-wrapper {
    margin-bottom: 1.5rem;
}

form .field-error, form .error {
    color: red;
}

form .message-wrapper {
    margin-bottom: 2em;
}

form button {
    transition: all 0.5s ease;
}

form.success button {
    font-size: 0;
    background: #21006d;
}

form.success button:after {
    font-size: 20px;
    content: '✔';
}

input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
    background-color: rgba(207, 197, 28, 0.21);
}

/* Footer starts here */

footer {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(207, 197, 28, 0.41);
}

/* Table starts here */

table {
    padding: 15px;
    border: 1px solid grey;
    width: 100%;
    text-align: center;
}

table th,
table td {
    padding: 5px;
}

#person-table table, tr, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
}

/* Modal starts here */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.modal .modal-wrapper {
    background-color: rgba(224,216,111,0.9);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Responsive starts here */

@media only screen and (min-width: 400px) {
    
    .wrapper {
        max-width: 800px;
        margin: 0 auto;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
    }

    .nav-flex {
        width: 100%;
    }

    .link-wrapper a {
        margin-bottom: 0;
        font-size: 1.5em;
        text-decoration: none;
    }

    .link-wrapper a:hover {
        text-decoration: underline;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav .link-wrapper {
        display: inline-block;
        padding: 5px;
    }

    nav .link-wrapper.active {
        background-color: rgba(207, 197, 28, 0.91);
        border: 1px solid grey;
        border-radius: 5px;
        font-weight: bold;
    }

    #container {
        min-height: 400px;
    }
    
    .service {
        max-width: 25%;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #main-photo {
        height: 300px;
    }
    
}